<div class="hero">
  <div class="hero-content center-align">
    <h3>HiredHippo</h3>
    <h5>Happy Careers Start Here</h5>

    <%= form_tag("/check_invite_code", method: "post") do %>
   <div class="input-field inline">
        <%= label_tag(:invite_code) %>
        <%= text_field_tag(:invite_code)  %>
   </div>
      <%= submit_tag "SUBMIT", class: "waves-effect waves-light btn" %>
    <% end %>
  
<!--     <form action="check_invite_code" method="post">
      <div class="input-field inline">
        <input id="invite_code" type="text" class="validate">
        <label for="invite_code">Invite Code</label>
      </div>
      <button class="waves-effect waves-light btn">Submit</button>
    </form> -->

    <div> 
      <span class="helper-text" 
        data-error="wrong" 
        data-success="right">
        Don't have an invite code? <a href="#">Get one here</a>
      </span>
    </div>
  </div>
</div>

<div class="container center-align">
  <div class="row">    
    <h4>89% of professionals surveyed are open to new opportunities if they are presented with the right role.</h4>
  </div>

  <div class="row">
    HiredHippo connects companies and talent with an AI-powered platform that matches them on personal and career aspirations, as well as sales skills and experiences.
  </div>

  <div class="row">
    <div class="col s6">
      <i class="medium purple-text material-icons">people_outline</i>
      <h5>FIT (YOUR PASSION)</h5>
      <div>You were born to do something great and leave your mark on this world. We've developed the smartest way for you to advance your career because we know that loving what you do matters.</div>
    </div>
    <div class="col s6">
      <i class="medium purple-text material-icons">access_time</i>
      <h5>EASY (SAVE YOUR TIME)</h5>
      <div>Stop searching for your next role. Stop going to rounds of interviews only to find out it’s not a fit. Let the next best thing come to you and use your precious time wisely.lock_outline</div>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <i class="medium purple-text material-icons">lock_outline</i>
      <h5>DISCREET (AND SECURE)</h5>
      <div>Find a new role anonymously and securely. Don’t have it affect your current job. Be in control of your who you connect with and when.compare_arrows</div>
    </div>
    <div class="col s6">
      <i class="medium purple-text material-icons">compare_arrows</i>
      <h5>OPPORTUNITIES (DON'T MISS OUT)</h5>
      <div>If you are like most professionals, you are open to making a change if presented with the right role. Now, HiredHippo arms you with knowledge and empowers you to make better decisions about your future. Be the superstar you were born to be.</div>
    </div>
  </div>
</div>

<div class="right-align">
  <div class="brand-logo" style="display: inline-block">
    <%= image_tag("logo_icon-only.png", :alt => "rss feed") %>
  </div>
  <div style="display: inline-block">
    Backed by NEXT Canada via NEXT AI, and MaRS Startup Ventures.<br/>
    © 2016 by Neemo Tech Inc. o/a HiredHippo. All rights reserved.
  </div>
</div>