<div class="onboarding valign-wrapper">
  <div class="onboarding-content">
    <div class="onboarding-pages">
      <div onboarding-page=1 class="onboarding-page">
        <h1 class="center-align">GOT FIVE MINUTES?</h1>

        <span>
          If you're eligible to work in Canada and looking for a sales role, we want to know more about you! Once you've answered the following 10 questions, we'll have all the information we need to help you make your next career move.
        </span>

      </div>

      <div onboarding-page=2 class="onboarding-page" hidden>
        <h3>What would you like to sell next?</h3>
        <h5>Please select one or multiple options</h5>

        <span>
          If you're eligible to work in Canada and looking for a sales role, we want to know more about you! Once you've answered the following 10 questions, we'll have all the information we need to help you make your next career move.
        </span>

      </div>
    </div>
    <div class="onboarding-controls">
      <a class="waves-effect waves-light btn backButton">Back</a>
      <a class="waves-effect waves-light btn nextButton">Next</a>
    </div>
  </div>
</div>