@import "materialize";

@import "./candidates.scss";

html, body {
  height: 100%;
}

.brand-logo {
  margin-bottom: 8px;
  margin-top: 10px;
  margin-left: 25px;
}

.hero {
  background: linear-gradient(
    rgba(106, 26, 164, .8), 
    rgba(12, 12, 12, 0.4)),
      image-url('splash-background-candidate.jpg');
  height: 450px;
  background-position-x: left;
  background-position-y: center;

  color: white;

  .hero-content {
    padding-top: 100px;
  }

  .btn {
    background-color: transparent;
    border: 1px solid white;
    padding: 0px 10px;
    line-height: 35px;
    font-size: 14px;
  }
}

nav {
  background-color: white;
  overflow: hidden;
  & * {
    background-color: transparent;
    color: black !important;
  }
}

.flash {
  margin: 0;
  padding: 10px 25px;
}