// Place all the styles related to the Candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.onboarding {
    background: linear-gradient(
        rgba(12, 12, 12, .8), 
        rgba(12, 12, 12, .6)),
        image-url("onboarding-background_2.jpg");
    height: calc(100% - 64px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    display: flex;
    padding: 10%;
  
  .onboarding-page {
    background-color: white;
    // left: 50%;
    // margin: -25%;
    // position: absolute;
    margin: auto;
  }

  .onboarding-pages {
    
  }

  .onboarding-controls {
    margin-top: 50px;
  }
}