<!DOCTYPE html>
<html>
  <head>
    <title>HiredhippoLitmustest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">
           <%= image_tag("logo_icon-only.png", :alt => "rss feed") %>
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#" data-activates="slide-out" class="slide-out-button"><i class="material-icons">menu</i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <ul id="slide-out" class="side-nav">
      <li><a href="/">Home</a></li>
      <% if user_signed_in? %>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      <% else %>
        <li><a href="/users/sign_in">Sign In</a></li>
      <% end %>
    </ul>

    <% if notice %>
      <p class="flash green"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="flash red"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
